.cards-content {
  width: 100%;
  border: 1px solid #000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (max-width: 375px) {
  .header-card {
    min-height: 6rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  .name-post {
    font-size: 0.7rem;
  }
}

.header-card {
  background-color: var(--color-primary);
  padding: 0 0.8rem;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem 1rem 0 0;

  h2 {
    color: #fff;
    font-size: 1rem;
  }
}

.name-post {
  color: var(--gray-placeholder);
  font-size: 0.8rem;
  font-weight: 500;
}

.likes {
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 0.3rem;
  color: #000;
}

.container-buttons {
  display: flex;
  gap: 0.5rem;
}

.btn-likes {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
}

.info-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
  height: 100%;
}

.content {
  padding: 0 0.8rem;
}

.Comentcontent {
  padding: 0 0.8rem;
  margin-bottom: 0.8rem;
}
